.card{
    /* !important: informa ao React que os Estilos do CSS são mais importantes do que
                    os estilos padrões do Material UI 
    
        transparencia em cores hexadecial: ao final de uma cor hexadecimal, passe um valor
        entre 1 a 99, informando o grau de transparencia da cor
    */ 
    background: linear-gradient(36deg, #1a71a490 8%, #ce455e90 80%)!important;
}

.form{
    width: 270px;
}

.form-input{
    width: 100%;
}

.MuiFormLabel-root{
    color: #FFFFFF;
}

.form-title{
    color: #FFFFFF;
    font-weight: bold;
}

.background{
    background-image: url("../../assets/images/Indonesia.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    width: 100vw;
    min-height: calc(100vh - 64px); 

    /* Calc: função do CSS que faz um calculo com medidas e retorno seu resultado. No caso
            abaixo estamos calculando a largura da tela da pessoa menos a altura do Navbar*/
}