.back{
    background: linear-gradient(36deg, #1a71a4 8%, #ce455e 80%)!important;
}

.bar{
    display: flex;
    justify-content: flex-end;
}

.title{
    font-weight: bold !important;
    margin-right: 25px !important;
}